*,
*::before,
*::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html, body{
  max-width: 100vw;
  /* height: 100vh; */
}

body{
    margin: 0px;
    background-color: #ffffff;
}



/* -----------
Navigation
--------- */
/* .dashboard .navigation{
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-top: 10px;
    flex-direction: column;
    width: 200px;
}

.dashboard .navigation img.logo{
    width: 50%;
    height: auto;
}

.dashboard .navigation div ul{
    list-style-type: none;
    margin-left: 5px;
    margin-top: 15rem;
    font-size: 20px;
    color: #ffffff;
}

.dashboard .navigation div ul li{
    margin-top: 10px;
    background-color: black;
    border: 0px solid white;
    width: 170px;
    height: 50px;
    padding: 5px 0px 0px 8px;
}

.dashboard .navigation .upgrade{
    border: 1px solid paleturquoise;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin-top: 15rem;
    margin-bottom: 1rem;
    text-align: center;
}

.dashboard .navigation .upgrade .box{
    margin-top: -25px;
}

.dashboard .navigation .upgrade p{
    margin-top: -6px;
    align-content: center;
}

.dashboard .navigation .upgrade input{
    margin-top: 4px;
    color: white;
    background-color: black;
    width: 8rem;
    height: 2rem;
    border-radius: 6px;
}

/* -----------
Search Box
--------- */
/* .dashboard .search-box{
    border:  0px 0px 3px 0px black;
    width: auto;
    height: 30vw;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
}
.dashboard .search-box h3{
    font-size: 15px;
}
.dashboard .search-box .search form{
    margin-top: 20px;
    position: relative;
}

.dashboard .search-box .search form input{
    width: 90%;
    font: 16px;
    padding: 10px 50px 10px 10px;
    border: 1px solid black;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0);
}

.dashboard .search-box .search form span{
    position: absolute;
    right: 40px;
    top: 7px;
}

.dashboard .search-box .search .notification span:nth-child(1){
    margin-right: 30px;
    margin-top: 10px;
}

.dashboard .search-box .search .notification span:nth-child(2){
    margin-top: 30px;
}

/* ============
MAIN
========= */
/* --- chart
------ */
/* .dashboard .main .chart .first-chart{
    width: 60%;
    height: 50%;
    margin-top: 100px;
    margin-bottom: 20px;
    background-color: rgb(174, 156, 156);
    padding: 5px 100px 5px 5px;
    box-shadow: 5px 5px rgba( 0 0 0 / -01);
    border-radius: 10px;
    display: flex;
}


.dashboard .main .chart .second-chart{
    width: 60%;
    height: 50%;
    margin-bottom: 20px;
    background-color: rgb(174, 156, 156);
    padding: 5px 100px 5px 5px;
    box-shadow: 5px 5px rgba( 0 0 0 / -01);
    border-radius: 10px;
    display: flex;
}

.dashboard .main .chart .third-chart{
    width: 60%;
    height: 50%;
    margin-bottom: 20px;
    background-color: rgb(174, 156, 156);
    padding: 5px 100px 5px 5px;
    box-shadow: 5px 5px  rgba( 0 0 0 / -01);
    border-radius: 10px;
    display: flex;
}

/* --------
Table
------- */
/* .dashboard .main .table table{
    width: 100%;
    border-collapse: collapse;
    background-color: silver;
    box-shadow: 10px 10px whitesmoke;
    margin: 10px 10px 10px 10px;
    padding: 10px 40px 20px 30px;
    border-radius: 10px;
    line-height: 40px;
    text-align: left;
}

.dashboard .main .table .head{
    color: white;
    background-color: black;
    border: 6px solid black;
    padding: 0px 0px 0px 0px;
    vertical-align: 0px;
}  */
/* --------
Main End
---------- */
/* .dashboard .main .main-end{
    color: white;
    background-color: black;
    width: auto;
    height: 300px;
    padding-left: 25px;
    border-radius: 15px;
    margin-top: 100px;
    margin-bottom: 10px;
    text-align: left;
}
 
.dashboard .main .main-end h4{
    text-align: left;
}

.dashboard .main .main-end p{
    text-align: left;
}

.dashboard .main .main-end .Learn{
    border-radius: 20px;
    background-color: white;
    color: palevioletred;
    padding: 10px 30px 10px 30px;
    font-weight: 900;
    margin-top: 30px;
} */
/* .dashboard .main .main-end .female img{
    position: relative;
    bottom: 50px;
} */
/* -----
Main end
------- */
/* =======
IPAD
======== */
/* ------
NAVIGATION
--------- */
/* 
@media only screen and (min-width:768px) {
    html{
        max-width: 100%;
    }
    body{
        font-size: 19px;
        max-width: 100%;
    }

    .dashboard .navigation img.logo{
        width: 40%;
        height: auto;
    }

    .dashboard .navigation div ul li{
        width: 200px;
        font-size: 22px;
    } */
    /* --------
    CHART
    --------- */
    /* .dashboard .main .chart P{
        font-size: 30px;
    }

    /* ------
    TABLE
    ------ */
    /* .dashboard .main .table table{
        line-height: 60px;
        text-align: left;
    } */
/* 
}  */

/* ====
Side Bar
====== */
    .dashboard .navigation{
        height: auto;
        box-shadow: rgba( 0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        padding: 10px 0;
        width: 250px;
        
    }

    .dashboard .navigation .logo{
        padding: 5px 0px 0px 15px;
        width: auto;
    }

    .dashboard .navigation div ul{
        list-style-type: none;
        margin-top: 5rem;
        font-size: 20px;
        color: #ffffff;
    }
    
    .dashboard .navigation div ul li{
        margin-top: 10px;
        background-color: black;
        border: 0px solid white;
        width: 250px;
        height: 70px;
        padding: 10px 0px 0px 25px;
    }

    .dashboard .navigation div ul li .category{
        width: 25px;
        height: 70px;
        background-color: #A25075;
        border-radius: 0px 10px 10px 0px;
        position: absolute;
        left: 0;
        margin: -10px;
    }

    /* ----
    Upgrade Box
    --------- */

    .dashboard .navigation .upgrade{
        background-color: #f4f4f4;
        border-radius: 10px;
        width: 200px;
        height: 200px;
        text-align: center;
        margin: 235px 0px 0px 15px;
        box-shadow: 4px 4px 3px;
    }
    
    .dashboard .navigation .upgrade .box{
        margin-top: -30px;
    }
    
    .nav-item{
        position: relative;
        top: 7px;
        left: 2px;
    }

    .dashboard .navigation .upgrade p{
        margin-top: -2px;
        align-content: center;
    }
    
    .dashboard .navigation .upgrade button{
        margin-top: 2px;
        color: white;
        background-color: #00838f;
        width: 8rem;
        height: 2rem;
        border-radius: 5px;
    }



    /* =====
     Navigation
    ======= */

    .dashboard {
        display: flex;
        width: 100%;
    }

    .dashboard nav{
        display: flex;
        width: auto;
        height: 60px;
        justify-content: space-between;
        box-shadow: rgba( 0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        background-color: #f4f4f4;
    }

    .dashboard nav div{
        display: flex;
        justify-content: space-between;
    }

    .dashboard nav input{
        width: 300px;
        padding: 10px 50px 10px 10px;
        border: 1px solid black;
        border-radius: 2rem;
        background-color: rgba(0, 0, 0, 0);
        position: relative;
        margin: 10px 0px 10px 0px;
    }

    .dashboard nav div .mag{
        position: absolute;
        top: 20px;
        right: 190px;
    }

    .dashboard nav div .note{
        margin-top: 15px;
        padding-left: -5px;
        margin-right: 20px;
        margin-left: 10px;
    }

    .dashboard nav div .user{
        padding-left: -5px;
        padding-bottom: 15px;
        margin: 15px 70px 0px 10px;
    }

    .dashboard nav h2{
        margin-top: 15px;
        margin-left: 90px;
    }
    /* ======
    CHART
    ======= */
    .main-wrap{
        width: 100%;
    }

    .wrapper{
       display: flex;
       justify-content: space-between;
    }

    .chart{
        display: flex;
        width: 300px;
        position: relative;
        height: 250px;  
    }

    .main{
        padding: 50px 30px;
    }

    .dashboard .main .chart .first-chart{
        width: 80%;
        height: 50%;
        margin-left: 60px;
        background-color: #f4f4f4;
        padding: 5px 120px 5px 15px;
        box-shadow: rgba( 100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 10px;
        display: flex;
        position: relative;
    }
    
    
    .dashboard .main .chart .second-chart{
        width: 80%;
        height: 50%;
        margin-left: 40px;
        background-color: #f4f4f4;
        padding: 5px 120px 5px 15px;
        box-shadow: rgba( 100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 10px;
        display: flex;
        position: relative;
    }
    
    .dashboard .main .chart .third-chart{
        width: 80%;
        height: 50%;
        margin-left: 20px;
        background-color: #f4f4f4;
        padding: 5px 120px 5px 15px;
        box-shadow: rgba( 100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 10px;
        display: flex;
        position: relative;
    }


    .one{
        position: absolute;
        transform: translate(90%,10%);
        right: 62%;
        top: 20%;
        font-size: 18px;
    }

    .zero{
        position: absolute;
        transform: translate(90%,10%);
        right: 68%;
        top: 20%;
        font-size: 18px;
    }

    .two{
        position: absolute;
        transform: translate(90%,10%);
        right: 75%;
        top: 20%;
        font-size: 18px;
    }

    .dashboard .main .wrapper p{
        position: relative;
        line-height: 30px;
        margin-top: 30px;
        margin-left: -90px;
    }

    /* =======
    TABLE
    ======= */
    .dashboard .main .table table{
        width: 90%;
        border-collapse: collapse;
        background-color: #f4f4f4;
        box-shadow: rgba( 0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        margin: -45px 10px 10px 70px;
        padding: 10px 40px 20px 30px;
        border-radius: 10px;
        line-height: 40px;
        text-align: left;
    }
    
    .dashboard .main .table .head{
        color: white;
        background-color: black;
        border: 6px solid black;
        padding: 0px 0px 0px 0px;
        vertical-align: 0px;
        border-radius: 3px;
    }

    /* -----MAIN END---- */

    .dashboard .main .main-end{
        margin: 70px 50px 10px 70px;
        width: auto;
        max-height: 230px;
        background-color: black;
        box-shadow: 1px 3px 2px;
        color: white;
        border-radius: 7px;
    }

    .dashboard .main .main-end .footer{
        padding: 20px 0px 0px 40px;
        font-size: 17px;
        line-height: 20px;
    }

    .dashboard .main .main-end .footer h1{
        font-size: 20px;
    }

    .dashboard .main .main-end .Learn{
        border-radius: 20px;
        background-color: white;
        color: #A25075;
        padding: 10px 30px 10px 30px;
        font-weight: 900;
        object-position: top;
        margin-top: 90px;
    }

    .dashboard .main .main-end span{
        position: relative;
        height: 200px;
        top: -253px;
        right: -550px;
    }


